ul#id_icon {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

ul#id_icon li {
    float: left;
    padding: 10px;
    padding-left: 0;
    width: 80px;
}

ul#id_icon li i {
    font-size: 20px;
    margin-left: 5px;
    color: #6d6565;
}