a {
    text-decoration: none !important;
}

tr.active {
    border-left: 6px solid #e2ae07;
}

a.fa:hover {
    font-weight: bold;
}

.second-menu-bgc {
    background-color: #f5f5f5;
}

#permission-btns {
    overflow: hidden;
}

#permission-btns a {
    display: inline-block;
}

.mutil-op {
    margin-right: 10px !important;
}